<div>
  <div class="nav">
    <span class="title mr-auto">Log in</span>
    <button type="button" class="btn no-bg" (click)="closeDialog()">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
  </div>
  <div class="contain">
    <div [formGroup]=loginForm>
      <mat-form-field class="input-width">
        <input matInput formControlName="email" type="text" required placeholder="Email">
        <mat-error *ngIf="this.loginForm.get('email').hasError('required')">
          Email is required.
        </mat-error>
        <mat-error *ngIf="this.loginForm.get('email').hasError('pattern')">
          Enter a valid email address.
        </mat-error>
      </mat-form-field> <br>
      <mat-form-field class="input-width">
        <input matInput formControlName="password" type="text" required placeholder="Password">
        <mat-error *ngIf="this.loginForm.get('password').hasError('required')">
          Password is required.
        </mat-error>
      </mat-form-field> <br>
    </div>
    <span class="padding mr-auto"></span>
    <button class="btn login-btn" mat-button (click)="logIn()">Log in</button>
  </div>
</div>
