.navbar {
    background-color: #0dba86;
    height: 80px;

    .title {
        //color: #D27BDD;
        color: #ffffff;
        font-weight: bolder;
        position: relative;
        margin-right: 35px;
        font-size: 1.5em;
        left: 8vw;
    }

    .navbar-btn {
        color: #ffffff;
        position: relative;
        left: 8vw;
    }
}

::ng-deep .mat-button-focus-overlay, 
::ng-deep .mat-ink-ripple {
    background-color: transparent;
}